In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
filename = "foia_up_to_150k_OR.csv"

df = pd.read_csv(filename, parse_dates=['DateApproved'])

In [32]:
# NonProfit column comes as NaN because all blank in csv
df.drop(['NonProfit'], axis='columns', inplace=True)

In [33]:
df.dropna(subset=['BusinessType'], inplace=True)

In [34]:
df

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
0,149995.00,GRESHAM,OR,97030,624120.0,Corporation,Unanswered,Unanswered,Unanswered,31.0,2020-04-30,Bank of the West,OR - 03
1,149977.00,PORTLAND,OR,97232,236118.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,13.0,2020-05-01,"Bank of America, National Association",OR - 03
2,149962.50,PORTLAND,OR,97210,722511.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,32.0,2020-04-29,First Interstate Bank,OR - 01
3,149911.00,JEFFERSON,OR,97352,236115.0,Limited Liability Company(LLC),Unanswered,Male Owned,Non-Veteran,22.0,2020-04-14,"U.S. Bank, National Association",OR - 04
4,149897.45,BEND,OR,97701,323111.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,11.0,2020-04-05,First Interstate Bank,OR - 02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53546,22.00,TUALATIN,OR,97062,561499.0,Corporation,Unanswered,Unanswered,Unanswered,1.0,2020-05-06,"Bank of America, National Association",OR - 01
53547,8.00,PORTLAND,OR,97209,812112.0,Sole Proprietorship,Unanswered,Female Owned,Non-Veteran,2.0,2020-05-06,"Bank of America, National Association",OR - 01
53548,7.00,LAKE OSWEGO,OR,97035,561990.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,6.0,2020-05-04,"Bank of America, National Association",OR - 01
53549,7.00,LAKE OSWEGO,OR,97034,813910.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,1.0,2020-05-17,"Bank of America, National Association",OR - 03
53550,5.00,PORTLAND,OR,97202,531210.0,Corporation,Unanswered,Unanswered,Unanswered,1.0,2020-05-01,"Bank of America, National Association",OR - 03

# Summary
---

### Jobs Saved In Total

In [35]:
df['JobsRetained'].sum()

239362.0

### Business Types

In [48]:
df['BusinessType'].value_counts()

Limited  Liability Company(LLC)        18665
Corporation                            12500
Sole Proprietorship                     8654
Subchapter S Corporation                8226
Non-Profit Organization                 1875
Independent Contractors                 1353
Self-Employed Individuals               1178
Partnership                              508
Limited Liability Partnership            288
Professional Association                 186
Cooperative                               32
Non-Profit Childcare Center               15
Trust                                     12
Joint Venture                              7
Employee Stock Ownership Plan(ESOP)        2
Tenant in Common                           1
Name: BusinessType, dtype: int64