In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
filename = "foia_150k_plus.csv"

df = pd.read_csv(filename, parse_dates=['DateApproved'])
df.drop(['NonProfit'], axis='columns', inplace=True)

In [17]:
df.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,295.0,2020-04-14,"National Cooperative Bank, National Association",AK - 00
1,a $5-10 million,CRUZ CONSTRUCTION INC,7000 East Palmer Wasilla Hwy,PALMER,AK,99645.0,238190.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,215.0,2020-04-15,First National Bank Alaska,AK - 00
2,a $5-10 million,"I. C. E. SERVICES, INC",2606 C Street,ANCHORAGE,AK,99503.0,722310.0,Corporation,Unanswered,Unanswered,Unanswered,367.0,2020-04-11,KeyBank National Association,AK - 00
3,a $5-10 million,KATMAI HEALTH SERVICES LLC,"11001 O'MALLEY CENTRE DRIVE, SUITE 204",ANCHORAGE,AK,99515.0,621111.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,0.0,2020-04-29,Truist Bank d/b/a Branch Banking & Trust Co,AK - 00
4,a $5-10 million,MATANUSKA TELEPHONE ASSOCIATION,1740 S. CHUGACH ST,PALMER,AK,99645.0,517311.0,Cooperative,Unanswered,Unanswered,Unanswered,267.0,2020-06-10,CoBank ACB,AK - 00

In [18]:
df['BusinessName'].isnull().sum()

0

In [5]:
df.dropna(subset=['BusinessName'], inplace=True)

In [6]:
or_filtered = df.loc[df['State'] == 'OR']
or_filtered

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
492015,a $5-10 million,"ACME CONSTRUCTION SUPPLY CO., INC.",4040 DOUGLAS WAY,LAKE OSWEGO,OR,97035.0,423710.0,Corporation,Unanswered,Unanswered,Unanswered,367.0,2020-04-14,Fifth Third Bank,OR - 01
492016,a $5-10 million,"CHARTER MECHANICAL CONTRACTORS, INC.",7940 SW Hunziker Rd,PORTLAND,OR,97223.0,238220.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,299.0,2020-04-27,Columbia State Bank,OR - 01
492017,a $5-10 million,"CHRISTENSON ELECTRIC, INC.",17201 NE Sacramento St,PORTLAND,OR,97230.0,561499.0,Corporation,Unanswered,Male Owned,Non-Veteran,NaN,2020-04-15,Banner Bank,OR - 03
492018,a $5-10 million,COLLINS PINE COMPANY,29100 SW Town Center Loop,WILSONVILLE,OR,97070.0,321113.0,Corporation,Unanswered,Unanswered,Unanswered,331.0,2020-06-22,"U.S. Bank, National Association",OR - 01
492019,a $5-10 million,"COLUMBIA STEEL CASTING CO., INC.",10425 N Bloss Ave,PORTLAND,OR,97203.0,331210.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,260.0,2020-04-11,KeyBank National Association,OR - 03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501234,"e $150,000-350,000",ZEVEZ CORP,9115 SW Oleson Rd #104,PORTLAND,OR,97223.0,522320.0,Corporation,Unanswered,Unanswered,Unanswered,14.0,2020-04-14,Umpqua Bank,OR - 01
501235,"e $150,000-350,000","ZIM, INC.",12006 SW Garden Place,PORTLAND,OR,97223.0,236118.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,20.0,2020-04-11,KeyBank National Association,OR - 01
501236,"e $150,000-350,000","ZION EVANGELICAL LUTHERAN CHURCH, (U.A.C.) UNA...",2745 NW Harrison,CORVALLIS,OR,97330.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,57.0,2020-04-29,Citizens Bank,OR - 04
501237,"e $150,000-350,000",ZIWATT INC,355 SE 65TH AVE.,PORTLAND,OR,97215.0,424490.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,2020-05-03,"Wells Fargo Bank, National Association",OR - 03
501238,"e $150,000-350,000",ZNE CORP,560 Hickory St. NW,ALBANY,OR,97321.0,722511.0,Corporation,White,Male Owned,Veteran,49.0,2020-04-13,KeyBank National Association,OR - 04

## Kanye
- Billionaires get million dollar loans

In [21]:
yeezy_bail = df[df['BusinessName'].str.contains('YEEZY')]
yeezy_bail

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
29024,b $2-5 million,YEEZY LLC,6 CENTERPOINTE DR #700,LA PALMA,CA,90623.0,448110.0,Limited Liability Company(LLC),Black or African American,Male Owned,Non-Veteran,106.0,2020-04-13,City National Bank,CA - 38

### Churches
- Over 7000 churches were approved for loans of 150k or more

In [19]:
church_bails = df.loc[df['BusinessName'].str.contains('CHURCH')]
church_bails

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
393,"d $350,000-1 million",GRACE COMMUNITY CHURCH,6689 CHANGEPOINT DR,ANCHORAGE,AK,99518.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,52.0,2020-04-15,First National Bank Alaska,AK - 00
689,"e $150,000-350,000",ACF CHURCH,16620 Brooks Loop,EAGLE RIVER,AK,99577.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,12.0,2020-04-13,First National Bank Alaska,AK - 00
825,"e $150,000-350,000",ANCHORAGE GRACE BRETHREN CHURCH,12407 PINTAIL STREET,ANCHORAGE,AK,99516.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,0.0,2020-04-30,"Wells Fargo Bank, National Association",AK - 00
942,"e $150,000-350,000",CHURCH ON THE ROCK,3571 W Machen Drive,WASILLA,AK,99654.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,48.0,2020-04-10,First National Bank Alaska,AK - 00
1550,"e $150,000-350,000",THE FIRST INDEPENDENT SAMOAN ASSEMBLY OF GOD C...,4335 East 6th Avenue,ANCHORAGE,AK,99508.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,20.0,2020-06-25,WebBank,AK - 00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661033,"e $150,000-350,000",ST. MATTHEWS CHURCH,1000 BUTLER SPAETH RD,GILLETTE,WY,82716.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,47.0,2020-04-07,First National Bank of Gillette,WY - 00
661075,"e $150,000-350,000",THE EPISCOPAL CHURCH IN JACKSON HOLE,170 N. Glenwood St.,JACKSON,WY,83001.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,NaN,2020-04-13,Rocky Mountain Bank,WY - 00
661080,"e $150,000-350,000",THE PRESBYTERIAN CHURCH OF JACKSON HOLE,1251 S Park Loop Rd,JACKSON,WY,83002.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,23.0,2020-04-14,Bank of Jackson Hole,WY - 00
661207,"e $150,000-350,000",CHURCH SQUARE PHARMACY INC,NaN,NaN,XX,NaN,424210.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,2020-05-03,The Huntington National Bank,NA -
661209,"e $150,000-350,000",FRUIT COVE BAPTIST CHURCH OF JACKSONVILLE FL INC,501 State Road 13,SAINT JOHNS,XX,32259.0,813110.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,89.0,2020-05-03,Synovus Bank,FL - 04

## Kushners
- Notice that FL Kushner and Kushney Attorneys received loan and NO jobs were retained

In [11]:
kushner_bail = df[df['BusinessName'].str.contains('KUSHNER')]
kushner_bail

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
49433,"d $350,000-1 million","KUSHNER CARLSON, PROFESSIONAL LAW CORPORATION",85 ENTERPRISE,ALISO VIEJO,CA,92656.0,541110.0,Corporation,Unanswered,Unanswered,Unanswered,44.0,2020-05-03,"MUFG Union Bank, National Association",CA - 45
169296,"e $150,000-350,000",KUSHNER AND KUSHNER ATTORNEYS,2121 W FIRST ST STE#100,FORT MYERS,FL,33901.0,541110.0,Corporation,Unanswered,Unanswered,Unanswered,0.0,2020-04-29,IBERIABANK,FL - 19
232992,"e $150,000-350,000",KUSHNER BECKER AND ASSOCIATES LTD,205 MICHIGAN AVE N,CHICAGO,IL,60601.0,NaN,Corporation,Unanswered,Unanswered,Unanswered,15.0,2020-05-03,"U.S. Bank, National Association",IL - 07
267014,"d $350,000-1 million","KUSHNER LAGRAIZE, LLC",3330 W Esplanade Ave,METAIRIE,LA,70002.0,541211.0,Corporation,Unanswered,Unanswered,Unanswered,53.0,2020-04-14,Regions Bank,LA - 01
363022,"d $350,000-1 million",KUSHNER AND KUSHNER PC,6739 FAIRVIEW RD STE C,CHARLOTTE,NC,28210.0,541110.0,Corporation,Unanswered,Unanswered,Unanswered,24.0,2020-04-29,First-Citizens Bank & Trust Company,NC - 09
386848,c $1-2 million,"JOSEPH KUSHNER HEBREW ACADEMY, INC.",110 South Orange Ave,LIVINGSTON,NJ,7039.0,611699.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,142.0,2020-04-05,Regal Bank,NJ - 07
400844,"e $150,000-350,000",KUSHNER DRAPERY MFG LLC,5305 RT 70,PENNSAUKEN,NJ,8109.0,314120.0,Limited Liability Company(LLC),Unanswered,Male Owned,Unanswered,21.0,2020-04-27,Republic First Bank d/b/a Republic Bank,NJ - 01
447101,"e $150,000-350,000",HOLLWICH KUSHNER ARCHITECTURE D.P.C. DBA HWKN ...,C/O MATTHIAS HOLLWICH 1 WHITEHALL ST FL 14,NEW YORK,NY,10004.0,541310.0,Corporation,Unanswered,Unanswered,Unanswered,11.0,2020-05-01,"JPMorgan Chase Bank, National Association",NY - 10
449343,"e $150,000-350,000",KUSHNER STUDIOS ARCHITECTURE &AMP; DESIGN PC,390 BROADWAY FL 4,NEW YORK,NY,10013.0,541310.0,Corporation,Unanswered,Unanswered,Unanswered,15.0,2020-05-03,"Bank of America, National Association",NY - 07

In [22]:
harvard_filtered = df[df['BusinessName'].str.contains('HARVARD')]
harvard_filtered

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
21169,"e $150,000-350,000","HARVARD INVESTMENTS, INC.",17700 North Pacesetter Way Suite 100,SCOTTSDALE,AZ,85255.0,531390.0,Corporation,Unanswered,Unanswered,Unanswered,16.0,2020-04-15,"Zions Bank, A Division of",AZ - 06
31812,c $1-2 million,"HARVARD EYE ASSOCIATES, A MEDICAL GROUP, INC.",23961 Calle de la Magdalena SUITE 300,LAGUNA HILLS,CA,92653.0,621111.0,Corporation,Asian,Male Owned,Non-Veteran,100.0,2020-04-06,City National Bank,CA - 45
82379,"e $150,000-350,000",HARVARD CREEK POST ACUTE LLC,519 W BADILLO ST,COVINA,CA,91722.0,623110.0,Limited Liability Company(LLC),Asian,Unanswered,Unanswered,0.0,2020-06-08,"Wells Fargo Bank, National Association",CA - 32
138102,"d $350,000-1 million","HARVARD BUSINESS SERVICES, INC.",16192 COASTAL HWY,LEWES,DE,19958.0,561410.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,40.0,2020-04-07,"Wilmington Savings Fund Society, FSB",DE - 00
138999,"e $150,000-350,000",HARVARD ENVIRONMENTAL INC,760 PULASKI HIGHWAY,BEAR,DE,19701.0,541620.0,Subchapter S Corporation,Unanswered,Male Owned,Non-Veteran,NaN,2020-04-15,"Citizens Bank, National Association",DE - 00
142229,c $1-2 million,"HARVARD JOLLY, INC.",2714 DR MARTIN LUTHER KING JR ST N.,SAINT PETERSBURG,FL,33704.0,541310.0,Corporation,Unanswered,Unanswered,Unanswered,80.0,2020-04-08,The Bank of Tampa,FL - 13
166589,"e $150,000-350,000",HARVARD AND ASSOCIATES CPA PA,1408 N Piedmont Way,TALLAHASSEE,FL,32308.0,541211.0,Subchapter S Corporation,White,Male Owned,Non-Veteran,14.0,2020-04-12,Capital City Bank,FL - 02
166590,"e $150,000-350,000","HARVARD PACIFIC, LLC",23421 WALDEN CENTER DR Suite 300,ESTERO,FL,34134.0,531312.0,Limited Liability Company(LLC),Unanswered,Male Owned,Unanswered,10.0,2020-04-10,Synovus Bank,FL - 19
186203,"d $350,000-1 million",HARVARD GROUP INTERNATIONAL,1640 Powers Ferry Road SE - Building 25,MARIETTA,GA,30067.0,561312.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,35.0,2020-05-03,Synovus Bank,GA - 06
220337,"d $350,000-1 million","HARVARD CHEVROLET BUICK GMC, LLC",5250 S. US HIGHWAY 14,HARVARD,IL,60033.0,444110.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,41.0,2020-04-09,The First National Bank and Trust Company,IL - 14
220338,"d $350,000-1 million","HARVARD FORD, LLC",333 S Division St,HARVARD,IL,60033.0,444110.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,0.0,2020-04-09,The First National Bank and Trust Company,IL - 14
231265,"e $150,000-350,000","HARVARD FACTORY AUTOMATION, INC.",490 Commanche Circle,HARVARD,IL,60033.0,333249.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,2020-04-09,First National Bank of Omaha,IL - 14
278257,"d $350,000-1 million",HARVARD PARTNERS LLP,75 Arlington Street Suite 500,BOSTON,MA,2116.0,541690.0,Partnership,Unanswered,Unanswered,Unanswered,NaN,2020-04-15,"Citizens Bank, National Association",MA - 07
278258,"d $350,000-1 million",HARVARD STREET NEIGHBORHOOD HEALTH,632 BLUE HILL AVE,DORCHESTER,MA,2121.0,621610.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,84.0,2020-04-30,"Bank of America, National Association",MA - 07
285435,"e $150,000-350,000",GENKI HARVARD 2014,398 HARVARD STREET,BROOKLINE,MA,2446.0,NaN,Corporation,Unanswered,Unanswered,Unanswered,0.0,2020-05-03,"TD Bank, National Association",MA - 04
285803,"e $150,000-350,000",HARVARD BOOK STORE INC,1256 Mass Ave Cambridge Ma 02138-3820,CAMBRIDGE,MA,2138.0,451211.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,42.0,2020-04-27,Cambridge Trust Company,MA - 05
285804,"e $150,000-350,000",HARVARD COOPERATIVE SOCIETY,1400 Massachusetts Avenue,CAMBRIDGE,MA,2138.0,451211.0,Corporation,Unanswered,Unanswered,Unanswered,9.0,2020-04-27,Cambridge Trust Company,MA - 05
285805,"e $150,000-350,000","HARVARD SQUARE EYE CARE, P.C.",19 DUNSTER ST,CAMBRIDGE,MA,2138.0,621320.0,Corporation,White,Female Owned,Non-Veteran,23.0,2020-04-27,Cambridge Savings Bank,MA - 05
285806,"e $150,000-350,000","HARVARD STUDENT AGENCIES, INC.",67 MOUNT AUBURN ST,CAMBRIDGE,MA,2138.0,611710.0,Professional Association,Unanswered,Unanswered,Unanswered,119.0,2020-04-10,Cambridge Trust Company,MA - 05
287099,"e $150,000-350,000",LOTUS KUAI HARVARD INC,1712 MASSACHUSETTS AVE,CAMBRIDGE,MA,2138.0,445110.0,Corporation,Unanswered,Unanswered,Unanswered,12.0,2020-04-29,"Bank of America, National Association",MA - 05
413357,"e $150,000-350,000","HARVARD MEDTECH, LLC",6280 S VALLEY VIEW BLVD STE 412; Building D,LAS VEGAS,NV,89118.0,621999.0,Limited Liability Company(LLC),Asian,Male Owned,Non-Veteran,15.0,2020-04-27,Pacific Premier Bank,NV - 01
477599,"e $150,000-350,000","HARVARD COIL PROCESSING, INC.",5400 Harvard Avenue,CLEVELAND,OH,44105.0,423510.0,Corporation,White,Male Owned,Non-Veteran,13.0,2020-04-10,TCF National Bank,OH - 11
477600,"e $150,000-350,000",HARVARD STEEL SALES LTD,5400 Harvard Avenue,CLEVELAND,OH,44105.0,423510.0,Limited Liability Company(LLC),White,Male Owned,Non-Veteran,13.0,2020-04-07,The Huntington National Bank,OH - 11
485652,c $1-2 million,HARVARD FAMILY PHYSICIANS PC,7912 E 31ST CT Ste 220,TULSA,OK,74145.0,621111.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,111.0,2020-04-07,Security Bank,OK - 01
539485,c $1-2 million,"HARVARD INTEGRATIONS, LP",27157 470TH AVE,TEA,SD,57064.0,332312.0,Partnership,Unanswered,Unanswered,Unanswered,114.0,2020-04-04,Central Bank,SD - 00